<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tus trabajos guardados como favoritos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="savedTrabajos.length === 0">
        No tienes trabajos guardados.
      </div>
        <ion-list>
          <ion-item *ngFor="let job of savedTrabajos; let i = index">
            <div class="flex flex-col w-50 p-2">
              <h2>{{ job.title }}</h2>
              <p>{{ job.company }}</p>
              <div>
                <ion-button fill="outline" color="danger" (click)="removeJob(job)">
                  Quitar
                  <ion-icon name="trash-outline" slot="start"></ion-icon>
                </ion-button>
                <ion-button fill="outline" color="secondary" (click)="visitWebsite(job)">
                  Visitar Web
                  <ion-icon name="open" slot="start"></ion-icon>
                </ion-button>
              </div>
            </div>
          </ion-item>          
        </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
