<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Empleos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Empleos</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Buscador -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Buscar empleos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Empleo</ion-label>
        <ion-input [(ngModel)]="searchTitle" placeholder="Buscar empleo..."></ion-input>
      </ion-item>
      <ion-button expand="full" color="primary" (click)="searchJobs()">Buscar</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Lista de trabajos -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de Trabajos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="spinner-container" *ngIf="loading">
        <ion-spinner></ion-spinner>
      </div>
      
      <div *ngIf="!loading && filteredTrabajos.length === 0">
        No se encontraron resultados con los parámetros de búsqueda
      </div>

      <ion-list *ngIf="!loading && filteredTrabajos.length > 0">
        <ion-item *ngFor="let job of filteredTrabajos; let i = index">
          <div class="flex flex-col w-50 p-2">
            <h2>{{ job.title }}</h2>
            <p>{{ job.company }}</p>
            <p>{{ job.location }}</p>
            <p>{{ job.date }}</p>
            <div>
              <ion-button fill="outline" color="primary" (click)="saveJob(job)">
                Guardar
                <ion-icon name="star-outline" slot="start"></ion-icon>
              </ion-button>
              <ion-button fill="outline" color="secondary" (click)="visitWebsite(job)">
                Visitar Web
                <ion-icon name="open" slot="start"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-item>          
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>