<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Listado de categorías -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido, busca tu nuevo empleo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>ezJob es una plataforma que reúne ofertas de trabajo de diversas páginas web. Actualmente, ofrecemos soporte para Chiletrabajos y Trabajando.com, y en el futuro planeamos expandirnos aún más para incluir más portales de empleo.</p>
    </ion-card-content>
  </ion-card>  

  <ion-card>
    <ion-card-content>
      <!-- Campo de búsqueda -->
      <ion-item>
        <ion-input [(ngModel)]="searchTitle" placeholder="Buscar empleo..."></ion-input>
        <ion-button slot="end" color="primary" (click)="searchJobs()">Buscar</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Último trabajo publicado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="actualizar-container">
        <ion-button (click)="updateTrabajos()" [disabled]="loading">Actualizar</ion-button>
        <div class="spinner-container" *ngIf="loading">
          <ion-spinner></ion-spinner>
        </div>
      </div>
      <div *ngIf="!loading && trabajosCombinados.length === 0">
        No se encontraron resultados con los parámetros de búsqueda
      </div>
      <ion-list *ngIf="!loading">
        <ion-item *ngIf="trabajosCombinados && trabajosCombinados.length > 0">
          <div class="flex flex-col w-50 p-2">
            <h2>{{ trabajosCombinados[0].title }}</h2>
            <p>{{ trabajosCombinados[0].company }}</p>
            <div>
              <ion-button fill="outline" [color]="isJobSaved(trabajosCombinados[0]) ? 'danger' : 'primary'" (click)="saveJob(trabajosCombinados[0])">
                {{ isJobSaved(trabajosCombinados[0]) ? 'Quitar' : 'Guardar' }}
                <ion-icon [name]="isJobSaved(trabajosCombinados[0]) ? 'trash-outline' : 'star-outline'" slot="start"></ion-icon>
              </ion-button>
              <ion-button fill="outline" color="secondary" (click)="visitWebsite(trabajosCombinados[0])">
                Visitar Web
                <ion-icon name="open" slot="start"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-item>          
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
